@font-face {
  font-family: 'Mont';
  src: url('../../assets/fonts/Mont-Regular.woff2') format('woff2'),
    url('../../assets/fonts/Mont-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
<<<<<<< HEAD
  font-display: swap;
=======
>>>>>>> 76b43e027fe43063e6bea42a499f5ca1d5657db0
}

@font-face {
  font-family: 'Mont';
  src: url('../../assets/fonts/Mont-SemiBold.woff2') format('woff2'),
    url('../../assets/fonts/Mont-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
<<<<<<< HEAD
  font-display: swap;
=======
>>>>>>> 76b43e027fe43063e6bea42a499f5ca1d5657db0
}

@font-face {
  font-family: 'Mont';
  src: url('../../assets/fonts/Mont-Heavy.woff2') format('woff2'),
    url('../../assets/fonts/Mont-Heavy.woff') format('woff');
  font-weight: 900;
  font-style: normal;
<<<<<<< HEAD
  font-display: swap;
=======
>>>>>>> 76b43e027fe43063e6bea42a499f5ca1d5657db0
}