@import "./helpers/reset";
@import "./helpers/typography";


html,
body {
  height: 100%;
}

body {
  height: 100%;
}

body {
  font-family: 'Mont',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  height: 100%;
}
