@import "./helpers/reset";
@import "./helpers/typography";
@import "./helpers/toast";

html,
body {
  height: 100%;
  overflow: hidden;
}

body {
  height: 100%;
}

body {
  font-family: 'Mont',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #777777;
}

#root {
  height: 100%;
}

a {
  color: #000;
  text-decoration: none;
}
