@import "./helpers/reset";
@import "./helpers/typography";

html,
body {
  height: 100%;
  overflow: hidden;
}

body {
  height: 100%;
}

body {
  font-family: 'Mont',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #777777;
}

#root {
  height: 100%;
}

a {
  color: #000;
  text-decoration: none;
}

.pagination-additional-class {
  margin: 0;
  position: fixed;
  top: 20px;
  display: flex;
  justify-content: center;
  width: 100%;
}

.pagination-additional-class>li:not(:last-of-type)>a,
.pagination-additional-class>li:not(:last-of-type)>span {
  margin-right: 50px;
}